{% extends 'main.html' %}

{% load static %}

{% block content %}


<div class="talk">
    <section class="ei-about-section">
        <div class="talk-to-us-div container">
            <div class="ei-about-head head-1">
                <h1>Talk to us</h1>
            </div>
            <div class="mobile-talk-to-us-div ei-talkto-us-body">
                <form method="post" action="">
                    {% csrf_token %}
    
                    {{ forms }}
                    <div class="mobile-talk-to-us talk-to-us-details">
                        <label for="name">Name</label>
                        <input type="text" name="name" id="name" placeholder="Enter Full Name" required>
                    </div>
                    <div class="mobile-talk-to-us talk-to-us-details">
                        <label for="phone">Phone Number</label>
                        <input type="number" name="phone_number" id="phone" placeholder="Enter Phone Number" required>
                    </div>
                    <div class="mobile-talk-to-us talk-to-us-details">
                        <label for="format">Meeting Format</label>
                        <select name="meeting_format" class="form-select" aria-label="Default select example">
                            <option selected>Online / Offline</option>
                            <option value="Online">Online</option>
                            <option value="Offline">Offline</option>
                          </select>
                    </div>
                    <div class="mobile-talk-to-us talk-to-us-details">
                        <label for="email">Email Address</label>
                        <input type="email" name="email_address" id="email" placeholder="Enter Email Address" required>
                    </div>
                    <div class="mobile-talk-to-us talk-to-us-details">
                        <label for="purpose">Meeting Purpose/Agenda</label>
                        <select name="meeting_agenda" class="form-select" aria-label="Default select example">
                            <option selected>Choose</option>
                            <option value="Startup Idea">Startup Idea</option>
                            <option value="Website/App services">Website/App services</option>
                            <option value="Cyber security">Cyber security</option>
                            <option value="Others">Others</option>
                          </select>
                    </div>
                    <div class="mobile-talk-to-us talk-to-us-details">
                        <label for="question">Additional Questions</label>
                        <textarea name="additional_questions" id="question" cols="30" rows="3" placeholder="You can mention your questions for us here." required></textarea>
                    </div>
                    <div class="form-submit-div">
                        <button class="btn form-submit-btn">Submit</button>
                    </div>
                </form>
            </div>
        </div>
        {% include 'footer.html' %}
    </section>
</div>
<div class="rotate">
    <img src="{% static '/images/rotate.gif' %}" alt="">
    <h3>Uh oh! Seems like you rotated your phone.</h3>
    <p>Kindly flip back to portrait mode to view our website.</p>
</div>
{% endblock content %}