@font-face {
    font-family: 'PPTelegraf-Regular';
    src: url('../fonts/PPTelegraf-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PPTelegraf-UltraBold';
    src: url('../fonts/PPTelegraf-UltraBold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PPTelegraf-UltraLight';
    src: url('../fonts/PPTelegraf-UltraLight.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'PPTelegraf-Regular', sans-serif;
    scroll-behavior: smooth;
}

.preloader {
    height: 100vh;
    width: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1600;
    top: 0;
    left: 0;
}

.loader {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 6rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.loader:before,
.loader:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    animation: pulsOut 1.8s ease-in-out infinite;
    filter: drop-shadow(0 0 1rem rgba(3, 219, 246, 0.70) 0%);
}
.loader:before {
    width: 100%;
    padding-bottom: 100%;
    box-shadow: inset 0 0 0 1rem rgba(3, 219, 246, 0.70) 0%;
    animation-name: pulsIn;
}
.loader:after {
    width: calc(100% - 2rem);
    padding-bottom: calc(100% - 2rem);
    box-shadow: 0 0 0 0 rgba(15, 51, 255, 0.60);
}

@keyframes pulsIn {
    0% {
        box-shadow: inset 0 0 0 1rem rgba(3, 219, 246, 0.70) 0%;
        opacity: 1;
    }
    50%, 100% {
        box-shadow: inset 0 0 0 0 rgba(15, 51, 255, 0.60);
        opacity: 0;
    }
}

@keyframes pulsOut {
    0%, 50% {
        box-shadow: 0 0 0 0 #1f06fc;
        opacity: 0;
    }
    100% {
        box-shadow: 0 0 0 1rem #492ef6;
        opacity: 1;
    }
}
      

.ei-nav {
    height: 5rem;
    z-index: 1;
    transition: all .5s;
}

.ei-nav-scrolled {
    background-color: white !important;
    z-index: 3;
}

.ei-nav-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.ei-navbrand img {
    height: 3rem;
}

.ei-nav-options {
    width: 100%;
    display: flex !important;
    justify-content: end !important;
    gap: 4rem;
}

.active {
    color: #0F33FF !important;
}

.ei-nav-options li a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #000;
}

.ei-section-1 {
    height: 100vh;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

#myVideo {
    height: 119.5%;
    position: fixed;
}

.ei-section-1-div-1 {
    width: 80%;
    text-align: center;
    background-attachment: fixed;
    position: fixed;
    z-index: 0;
    top: 40%;
}

.ei-section-1-div-1 h1{
    font-size: 5rem;
    color: #000;
}

.ei-div-1-btn {
    border-radius: 50px;
    background: #000;
    color: #fff;
    padding: .5rem 1rem;
    font-size: 1.3rem;
}

.ei-div-1-btn a {
    text-decoration: none;
    color: #fff;
}

.ei-div-1-btn:hover {
    border: solid thin #000 !important;
    padding: .5rem 1rem;
    color: #000 !important;
}

.ei-div-1-btn a:hover {
    color: #000 !important;
}

.ei-section-2 {
    height: fit-content;
    position: absolute;
    width: 100%;
    z-index: 1;
    background: #fff;
    padding-top: 2rem;
}

.ei-section-2-div-1 {
    text-align: center;
    width: 100%;
}

.ei-section-2-div-1 h2 {
    font-family: 'PPTelegraf-UltraLight', sans-serif;
    font-size: 4rem;
    margin-bottom: 2rem;
}

.ei-section-2-div-1 h1 {
    font-family: 'PPTelegraf-UltraBold', sans-serif;
    margin-top: 2rem;
    background: linear-gradient(90deg, #FFA7D9 0%, #C48BFF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.ei-section-2-div-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 3rem;
    width: 0;
}

.ei-section-2-div-2 img {
    height: 2.5rem;
    transform: rotate(-90deg);
    position: absolute;
    right: 0;
}

.ei-video-heading {
    display: flex;
    align-items: center;
    position: relative;
}

.ei-video-row {
    margin-bottom: 7rem;
}

.ei-video {
    height: fit-content;
    margin-bottom: 6rem;
}

.one {
    position: relative;
}

.two {
    position: relative;
}

.three {
    position: relative;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
}

.video-container video {
    width: 60rem;
}

.video::-webkit-media-controls {
    display: none !important;
}
  
.video::-webkit-media-controls-enclosure {
    display: none !important;
}
  
.video::-webkit-media-controls-panel {
    display: none !important;
}
  
.video::-moz-media-controls {
    display: none !important;
}
  
.video::-ms-media-controls {
    display: none !important;
}

.ei-data {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ei-illustration-1 {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 20%;
    width: 50%;
}

.ei-illustration-1 img {
    height: 40rem;
}

.ei-illustration-2 {
    position: absolute;
    z-index: -1;
    top: 80%;
    left: 20%;
    width: 50%;
}

.ei-illustration-2 img {
    height: 25rem;
}

.ei-illustration-3 {
    position: absolute;
    z-index: -1;
    top: 47%;
    left: 20%;
    width: 50%;
}

.ei-illustration-3 img {
    height: 50rem;
}


.ei-illustration-4 {
    position: absolute;
    z-index: -1;
    top: 31%;
    left: 21%;
    width: 50%;
}

.ei-illustration-4 img {
    height: 30rem;
}

.ei-why-us {
    margin: 6rem auto 4rem;
}

.ei-why-us-head {
    text-align: center;
    color: #000;
    margin-bottom: 6rem;
}

.ei-why-us-head h2 {
    font-size: 5rem;
    margin-top: 2rem;
}

.ei-why-us-row {
    display: flex;
    justify-content: center !important;
}

.ei-why-us-wrappar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ei-why-us-body-info {
    color: #FFF;
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25rem;
    width: 23rem;
}

.custom-width {
    width: 28%;
}

.why-us-data-div-1 {
    background: linear-gradient(86deg, #FFA7D9 -33.22%, #C48BFF 92.88%);
}

.why-us-data-div-2 {
    background: linear-gradient(180deg, #89EBFF -12.4%, #C48BFF 57.03%);
}

.why-us-data-div-3 {
    background: linear-gradient(180deg, #C48BFF 0%, #5050FF 100%);
}

.ei-why-us-body-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ei-why-us-body-img img {
    height: 18rem;
}

.ei-process {
    margin: 10rem auto 5rem;
}

.ei-process-head {
    margin-bottom: 6rem;
}

.ei-process-head h1{
    color: #000;
    text-align: center;
    font-size: 2.8rem;
    margin: 2rem auto;
}

.ei-process-head h3{
    color: #000;
    text-align: center;
    font-size: 1.8rem;
    margin: 2rem auto;
}

.ei-process-body{
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 88%;
}

.ei-process-body-bar {
    border-radius: 10px;
    background: #000;
    padding: 1rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7rem;
    max-height: 7rem;
    min-height: 7rem;
}

.ei-process-body-bar-data {
    color: #FFF;
    width: 40%;
}

.ei-process-body-bar-data p {
    font-family: 'PPTelegraf-UltraLight';
    margin: .2rem auto;
}

.ei-process-body-bar-data span {
    font-family: 'PPTelegraf-UltraBold';
}

.ei-process-body-bar-img {
    width: 10%;
    display: flex;
    justify-content: center;
}

.ei-process-body-bar-img img {
    height: 5rem;
}

.bar-1:hover {
    background: linear-gradient(#FFA7D9, #C48BFF);
}

.bar-2:hover {
    background: linear-gradient(180deg, #C48BFF 42.8%, #89EBFF 140.33%, #96E1FF 140.33%);
}

.bar-3:hover {
    background: linear-gradient(#50BFFF, #5050FF);
}

.ei-our-work {
    margin: 12rem auto 6rem;
}

.ei-our-work-head {
    text-align: center;
    margin: 2rem auto;
}

.ei-our-work-head h1 {
    color: #000;
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

.ei-our-work-head img {
    width: 10rem;
}

.ei-our-work-body-img {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ei-our-work-body-img img {
    height: 80%;
}

.ei-our-work-body-view-all {
    margin: 3rem auto;
    text-align: center;
}

.ei-our-work-body-view-all a {
    text-decoration: none;
}

.view-all {
    background: linear-gradient(90deg, #FFA7D9 0%, #C48BFF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2rem;
    font-weight: 400
}

.ei-contact {
    margin: 12rem auto 6rem;
}

.ei-contact-head h1 {
    color: #000;
    text-align: center;
    font-size: 3.5rem;
    margin: 2rem auto;
}

.ei-contact-body {
    margin: 4rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ei-contact-body-card {
    border-radius: 10px;
    background: #000;
    padding: 1rem 1.5rem;
    color: white;
    height: 28rem;
    max-height: 28rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.card-data-1 p {
    font-size: 1rem;
}

.ei-card-logo-1 {
    height: 10rem;
    min-height: 10rem;
    max-height: 10rem;
    max-width: 10rem;
    min-width: 10rem;
    width: 10rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../images/ei_contact/chai-white.png);
    margin-bottom: 3rem;
    transition: background-image 0.3s ease-in-out;
}

.card-data-2 {
    text-align: center;
}

.card-data-2 p {
    font-family: 'PPTelegraf-UltraLight';
    font-size: 1.1rem;
}

.card-1:hover {
    background: #FFF4C5;
    color: #000;
    transition: background-color 0.3s ease-in-out;
}

.card-1:hover .ei-card-logo-1 {
    background-image: url(../images/ei_contact/chai-black.png);
}

.ei-card-logo-2 {
    height: 10rem;
    min-height: 10rem;
    max-height: 10rem;
    max-width: 8rem;
    min-width: 8rem;
    width: 8rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../images/ei_contact/heart-white.png);
    margin-bottom: 3rem;
    transition: background-image 0.3s ease-in-out;
}

.card-2:hover .ei-card-logo-2 {
    background-image: url(../images/ei_contact/heart-black.png);
}

.card-2:hover {
    background: #FFDDE3;
    color: #000;
    transition: background-color 0.3s ease-in-out;
}

.ei-card-logo-3 {
    height: 10rem;
    min-height: 10rem;
    max-height: 10rem;
    max-width: 8rem;
    min-width: 8rem;
    width: 8rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../images/ei_contact/phone-white.png);
    margin-bottom: 3rem;
    transition: background-image 0.3s ease-in-out;
}

.card-3:hover .ei-card-logo-3 {
    background-image: url(../images/ei_contact/phone-black.png);
}

.card-3:hover {
    background: #C7D7FF;
    color: #000;
    transition: background-color 0.3s ease-in-out;
}

.ei-contact-foot {
    margin: 3rem auto 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ei-contact-foot h2 {
    text-align: center;
    font-size: 1.8rem;
    color: #000;
    font-weight: 400;
}

.ei-contact-foot-btn {
    padding: .3rem 1rem;
    border-radius: 50px;
    background: linear-gradient(90deg, #FFA7D9 0%, #C48BFF 100%);
    color: #FFF;
    width: fit-content;
    font-size: 1.5rem;
}

.ei-buzz-img {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ei-buzz-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.footer-div {
    background: #242424;
    padding: 1rem 0;
    height: fit-content;
    font-family: 'Poppins', sans-serif;
}

footer {
    border: #FFF dotted 2px;
    border-left: none;
    border-right: none;
    padding: 2rem 0;
    height: 100%;
    margin-bottom: 1rem;
}

.foot-divs {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.foot-logo {
    width: 30%;
}

.foot-body {
    width: 70%;
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.foot-logo img{
    height: 3rem;
}

.foot-data {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 15%;
}

.foot-data a {
    text-decoration: none;
    color: #FFF;
    font-size: .8rem;
}

.foot-contact {
    width: 30%;
    color: #FFF;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.foot-address {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.foot-address img {
    width: 1.5rem;
    height: 1.5rem;
}

.phone-foot-img {
    height: 1.6rem !important;
}

.foot-address p {
    margin: 0;
    font-size: .8rem;
}

.end-statement {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.terms {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.terms a{
    color: #fff;
    text-decoration: none;
    font-size: .8rem;
}

.copyright p {
    font-size: .8rem;
    color: #fff;
    margin: 0; 
}

.ei-talkto-us {
    width: 45% !important;
    background: rgba(0, 0, 0, 0.95) !important;
    opacity: 1 !important;
    padding: 1rem 2rem;
}

.ei-talkto-us-head {
    padding: 0 1rem;
}

.ei-talkto-us-head h5 {
    background: linear-gradient(90deg, #FFA7D9 0%, #C48BFF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'PPTelegraf-UltraBold';
    font-size: 2rem;
}

.talk-to-us-details {
    margin-bottom: 2.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.talk-to-us-details label{
    font-family: 'PPTelegraf-UltraLight';
    color: #FFF;
    width: 30%;
    font-size: 1.2rem;
}

.talk-to-us-details input {
    font-family: 'PPTelegraf-UltraLight';
    padding: .3rem .5rem;
    width: 60%;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
}

.talk-to-us-details input:focus {
    outline: none;
}

.datetime {
    width: 28.5% !important;
    border: none;
}

.talk-to-us-details select {
    font-family: 'PPTelegraf-UltraLight';
    padding: .3rem .5rem;
    width: 60%;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
}

.talk-to-us-details select:focus {
    box-shadow: none;
}

.talk-to-us-details textarea {
    font-family: 'PPTelegraf-UltraLight';
    padding: .3rem .5rem;
    width: 60%;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
}

.talk-to-us-details textarea:focus {
    outline: none;
}

.form-submit-div {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}

.form-submit-btn {
    border-radius: 50px;
    background: linear-gradient(90deg, #FFA7D9 0%, #C48BFF 100%);
    color: #fff;
    font-family: 'PPTelegraf-UltraBold';
    padding: .2rem 1rem;
    font-size: 1.2rem
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(180deg, #50BFFF 0%, #5050FF 100%);    
}

::-webkit-scrollbar-thumb:hover {
    border-radius: 10px;
    background: linear-gradient(180deg, #50BFFF 0%, #5050FF 100%);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.mob-bottom-bar {
    display: none;
}

.mobile-logo {
    display: none;
}

.mob-ei-videos {
    display: none;
}

.mobile-ei-why-us {
    display: none;
}

#mobile-talk-to-us {
    display: none;
}

#desktop-talk-to-us {
    display: block;
}

@media only screen and (max-width: 551px) and (min-width: 280px){
    #desktop-talk-to-us {
        display: none;
    }

    #mobile-talk-to-us {
        display: block;
    }

    .ei-nav {
        display: none;
    }

    .mobile-logo {
        display: block;
        width: 100%;
        padding: 1rem 0.5rem;
        transition: all .2s;
    }

    .mobile-logo img {
        height: 3rem;
    }

    .mob-nav-scrolled {
        background-color: white !important;
        z-index: 3 !important;
    }
    
    .ei-video{
        display: none;
        margin: 0 !important;
    }

    .mob-bottom-bar {
        display: flex;
        position: fixed;
        width: 100%;
        bottom: 0;
        background: linear-gradient(90deg, rgba(3, 219, 246, 0.70) 0%, rgba(15, 51, 255, 0.60) 100%);
        backdrop-filter: blur(3.5px);
        justify-content: space-between;
        align-items: center;
        padding: 1rem .5rem;
        z-index: 4;
    }

    .ei-bottom-bar-options {
        width: 5rem;
        padding: .5rem;
        text-align: center;
    }

    .bottom-bar-active {
        color: #000 !important;
    }

    .ei-bottom-bar-options span {
        color: #fff;
    }

    .footer-div {
        display: none;
    }

    .mobile-talk-to-us {
        gap: 2rem;
    }

    .mobile-talk-to-us label {
        color: #000 !important;
        font-size: 1.1rem;
        font-weight: 800;
        width: 40%;
    }

    .mobile-talk-to-us input {
        font-size: 1rem;
        border: none;
        border-radius: 5px;
        background: #E7E7E7;
        padding: .5rem;
        font-size: 1rem;
        color: #000;
    }

    .mobile-talk-to-us select {
        font-size: 1rem;
        border: none;
        border-radius: 5px;
        background: #E7E7E7;
        padding: .5rem;
        font-size: 1rem;
        color: #000;
    }

    .mobile-talk-to-us textarea {
        font-size: 1rem;
        border: none;
        border-radius: 5px;
        background: #E7E7E7;
        padding: .5rem;
        font-size: 1rem;
        color: #000;
    }

    .ei-video-row {
        display: none;
    }

    .ei-why-us-body-img img {
        height: 10rem;
    }

    .ei-section-1-div-1 h1 {
        font-size: 2rem;
        color: #000;
    }

    .ei-div-1-btn {
        border-radius: 50px;
        background: #000;
        color: #fff;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        margin-top: 1.5rem;
    }

    .ei-section-2-div-1 h2 {
        font-family: 'PPTelegraf-UltraLight', sans-serif;
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }

    .ei-section-2-div-1 h1 {
        font-size: 1.8rem;
        font-family: 'PPTelegraf-UltraBold', sans-serif;
        margin-top: 2rem;
    }

    .ei-section-2-div-2 img {
        height: 1rem;
    }

    #myVideo {
        height: 100%;
        position: fixed;
        object-position: left;
        width: 100%;
        object-fit: cover;
        top: -5px;
    }

    .mob-ei-videos {
        display: block;
    }

    .mobile-videos {
        height: 12rem;
    }

    .owl-nav {
        display: none;
    }

    .owl-dot.active span {
        background: #0F33FF !important;
    }

    .carousel-data {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }

    .carousel-data p {
        background: linear-gradient(90deg, #FFA7D9 0%, #C48BFF 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 1.2rem;
    }

    .ei-why-us {
        margin: 3rem auto;
    }

    .ei-why-us-head {
        margin-bottom: 2rem;
    }

    .ei-why-us-head h2 {
        font-size: 1.8rem;
        font-family: 'PPTelegraf-UltraLight', sans-serif;
        margin-top: 2rem;
    }

    .ei-why-us-body {
        display: none;
    }

    .mobile-ei-why-us {
        display: block;
    }

    .mobile-ei-why-us-data {
        display: flex;
        align-items: center;
    }

    .mobile-ei-why-us-img {
        width: 50%;
        overflow: hidden;
        object-fit: contain;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10rem;
        max-height: 10rem;
        min-height: 10rem;
        padding: .5rem;
    }

    .mobile-ei-why-us-img img {
        height: 9rem;
    }

    .mobile-ei-why-us-details {
        padding: .5rem;
        color: white;
        width: 50%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10rem;
        max-height: 10rem;
        min-height: 10rem;
    }

    .ei-process {
        margin: 4rem auto;
    }

    .ei-process-head h1 {
        font-size: 2rem;
        font-family: 'PPTelegraf-UltraLight', sans-serif;
    }

    .ei-process-head {
        margin-bottom: 3rem;
    }

    .ei-process-head h3 {
        font-size: .8rem;
    }

    .ei-process-body-bar {
        padding: 1rem;
    }

    .ei-process-body-bar-data {
        color: #FFF;
        font-size: .8rem;
        width: 75%;
    }

    .ei-process-body-bar-img {
        width: 20%;
        display: flex;
        justify-content: center;
    }

    .ei-process-body-bar-img img {
        height: 3rem;
        width: 3rem;
        object-fit: contain;
    }

    .ei-our-work {
        margin: 4rem auto;
    }

    .ei-our-work-head h1 {
        font-size: 1.8rem;
        font-family: 'PPTelegraf-UltraLight', sans-serif;
        margin-bottom: .5rem;   
    }

    .ei-our-work-head img {
        width: 5rem;
    }

    .ei-why-us {
        gap: 1rem !important;
    }

    .ei-why-us-wrappar {
        width: 47%;
        margin-bottom: 0;
        overflow: hidden;
        padding: 0;
    }

    .ei-our-work-body-img {
        height: 10rem;
        width: 10rem;
    }

    .ei-our-work-body-img img {
        height: 100%;
    }

    .view-all {
        font-size: 1.5rem;
    }

    .ei-contact {
        margin: 4rem auto 8rem;
    }

    .ei-contact-head h1 {
        font-size: 2.5rem;
        font-family: 'PPTelegraf-UltraLight', sans-serif;
        margin-bottom: .5rem;   
    }

    .ei-contact-foot h2 {
        font-size: 1rem;
    }

    .ei-buzz-row {
        gap: 1rem;

    }

    .ei-buzz-img {
        height: 80%;
    }
}
@media only screen and (max-width: 767px) and (min-width: 550px){
    #desktop-talk-to-us {
        display: none;
    }

    #mobile-talk-to-us {
        display: block;
    }

    .ei-nav {
        display: none;
    }

    .mobile-logo {
        display: block;
        width: 100%;
        padding: 1rem 0.5rem;
        transition: all .2s;
    }

    .mobile-logo img {
        height: 3rem;
    }

    .mob-nav-scrolled {
        background-color: white !important;
        z-index: 3 !important;
    }
    
    .ei-video{
        display: none;
        margin: 0 !important;
    }

    .mob-bottom-bar {
        display: flex;
        position: fixed;
        width: 100%;
        bottom: 0;
        background: linear-gradient(90deg, rgba(3, 219, 246, 0.70) 0%, rgba(15, 51, 255, 0.60) 100%);
        backdrop-filter: blur(3.5px);
        justify-content: space-between;
        align-items: center;
        padding: 1rem .5rem;
    }

    .ei-bottom-bar-options {
        width: 5rem;
        padding: .5rem;
        text-align: center;
    }

    .bottom-bar-active {
        color: #000 !important;
    }

    .ei-bottom-bar-options span {
        color: #fff;
    }

    .footer-div {
        display: none;
    }

    .mobile-talk-to-us {
        gap: 2rem;
    }

    .mobile-talk-to-us label {
        color: #000;
        font-size: 1rem;
    }

    .mobile-talk-to-us input {
        font-size: 1rem;
        border: thin solid;
    }

    .mobile-talk-to-us select {
        font-size: 1rem;
        border: thin solid;
    }

    .mobile-talk-to-us textarea {
        font-size: 1rem;
        border: thin solid;
    }

    .ei-video-row {
        display: none;
    }

    .ei-why-us-body-img img {
        height: 10rem;
    }

    .ei-section-2-div-1 {
        margin: 2rem auto;
    }

    .ei-section-1-div-1 h1 {
        font-size: 2rem;
        color: #000;
    }

    .ei-div-1-btn {
        border-radius: 50px;
        background: #000;
        color: #fff;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        margin-top: 1.5rem;
    }

    .ei-section-2-div-1 h2 {
        font-family: 'PPTelegraf-UltraLight', sans-serif;
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    .ei-section-2-div-1 h1 {
        font-size: 2.5rem;
        font-family: 'PPTelegraf-UltraLight', sans-serif;
        margin-top: 2rem;
    }

    .ei-section-2-div-2 img {
        height: 1rem;
    }

    #myVideo {
        height: 100%;
        position: fixed;
        width: 100%;
        object-fit: fill;
        top: -5px;
    }

    .mob-ei-videos {
        display: block;
    }

    .mobile-videos {
        height: 12rem;
    }

    .owl-nav {
        display: none;
    }

    .owl-dot.active span {
        background: #0F33FF !important;
    }

    .carousel-data {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }

    .carousel-data p {
        background: linear-gradient(90deg, #FFA7D9 0%, #C48BFF 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 1.2rem;
    }

    .ei-why-us {
        margin: 3rem auto;
    }

    .ei-why-us-head {
        margin-bottom: 2rem;
    }

    .ei-why-us-head h2 {
        font-size: 2.5rem;
        font-family: 'PPTelegraf-UltraLight', sans-serif;
        margin-top: 2rem;
    }

    .ei-why-us-body {
        display: none;
    }

    .mobile-ei-why-us {
        display: block;
    }

    .mobile-ei-why-us-data {
        display: flex;
        align-items: center;
    }

    .mobile-ei-why-us-img {
        width: 50%;
        overflow: hidden;
        object-fit: contain;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10rem;
        max-height: 10rem;
        min-height: 10rem;
        padding: .5rem;
    }

    .mobile-ei-why-us-img img {
        height: 9rem;
    }

    .mobile-ei-why-us-details {
        padding: .5rem;
        color: white;
        width: 50%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10rem;
        max-height: 10rem;
        min-height: 10rem;
    }

    .ei-process {
        margin: 4rem auto;
    }

    .ei-process-head h1 {
        font-size: 2.5rem;
        font-family: 'PPTelegraf-UltraLight', sans-serif;
    }

    .ei-process-head h3 {
        font-size: 1.2rem;
    }

    .ei-process-body-bar {
        padding: 1rem;
    }

    .ei-process-body-bar-data {
        color: #FFF;
        font-size: .8rem;
        width: 75%;
    }

    .ei-process-body-bar-img {
        width: 20%;
        display: flex;
        justify-content: center;
    }

    .ei-process-body-bar-img img {
        height: 3rem;
        width: 3rem;
        object-fit: contain;
    }

    .ei-our-work {
        margin: 4rem auto;
    }

    .ei-our-work-head h1 {
        font-size: 2.5rem;
        font-family: 'PPTelegraf-UltraLight', sans-serif;
        margin-bottom: .5rem;   
    }

    .ei-our-work-head img {
        width: 10rem;
    }

    .ei-why-us {
        gap: 1rem !important;
    }

    .ei-why-us-wrappar {
        width: 47%;
        margin-bottom: 0;
        overflow: hidden;
        padding: 0;
    }

    .ei-our-work-body-img {
        height: 10rem;
        width: 10rem;
    }

    .ei-our-work-body-img img {
        height: 100%;
    }

    .view-all {
        font-size: 1.5rem;
    }

    .ei-contact {
        margin: 4rem auto 8rem;
    }

    .ei-contact-head h1 {
        font-size: 2.5rem;
        font-family: 'PPTelegraf-UltraLight', sans-serif;
        margin-bottom: .5rem;   
    }

    .ei-contact-foot h2 {
        font-size: 1rem;
    }
}
@media only screen and (max-width: 991px) and (min-width: 768px){
    #mobile-talk-to-us {
        display: none;
    }
    
    .ei-nav-container {
        width: 90%;
    }

    .ei-navbrand img {
        height: 2.5rem;
    }

    .ei-nav-options {
        gap: .5rem;
    }

    .nav-link {
        font-size: .8rem;
    }

    #myVideo {
        height: 120vh;
        position: fixed;
        width: 100%;
        top: -32%;
        left: 0;
        object-fit: fill;
        object-position: right;
    }

    .ei-section-1 {
        height: 100vh;
        overflow: hidden;
    }

    .ei-section-1-div-1 {
        width: 80%;
        position: fixed;
        left: 50%;
        transform: translate(-50%, 0);
        top: 30%; 
    }

    .ei-section-1-div-1 h1 {
        font-size: 2rem;
    }

    .ei-video {
        margin-bottom: 0;
    }

    .ei-section-2-div-1 {
        margin: 2rem auto;
    }

    .ei-section-2-div-2 img {
        height: 1.5rem;
    }

    .ei-section-2-div-1 h2 {
        font-size: 2rem;
    }

    .ei-section-2-div-1 h1 {
        font-size: 2rem;
    }

    .ei-illustration-1 {
        top: 69%;
        left: 27%;
    }

    .ei-illustration-1 img {
        height: 19rem;
    }

    .ei-illustration-2 img {
        height: 15rem;
    }

    .ei-illustration-3 {
        top: 55%;
        left: 20%;
        width: 50%;
    }

    .ei-illustration-3 img {
        height: 25rem;
    }

    .ei-illustration-4 {
        top: 24%;
        left: 22%;
    }

    .ei-illustration-4 img {
        height: 20rem;
    }

    .video-container video {
        width: 30rem;
    }

    .ei-why-us-wrappar {
        width: 33%;
        padding: .5rem;
        justify-content: unset;
    }

    .ei-why-us-head {
        margin-bottom: 2rem;
    }

    .ei-why-us-head h2 {
        font-size: 2rem;
    }

    .ei-why-us-body-info {
        color: #FFF;
        text-align: center;
        font-size: 1.2rem;
        padding: 1rem;
        height: 15rem;
    }

    .ei-why-us-body-img img {
        height: 12rem;
    }   
    
    .custom-width {
        width: 30%;
    }

    .ei-process-head h1 {
        font-size: 2rem;
    }

    .ei-process-head h3 {
        font-size: 1.2rem;
    }

    .ei-process-body-bar {
        padding: 1rem;
    }

    .ei-process-body-bar-data {
        width: 75%;
    }

    .ei-process-body-bar-img {
        width: 20%;
    }

    .ei-our-work-head img {
        width: 12rem;
    }

    .ei-our-work-body-img {
        height: 90%;
        overflow: hidden;
    }

    .ei-our-work-body-img img {
        height: 100%;
    }

    .ei-our-work {
        margin: 7rem auto 6rem;
    }

    .ei-why-us {
        margin: 4rem auto 4rem;
    }

    .ei-our-work-head h1 {
        font-size: 2rem;
    }

    .ei-our-work-head img {
        width: 6rem;
    }

    .ei-contact {
        margin: 6rem auto 6rem;
    }

    .ei-contact-head h1 {
        font-size: 2.5rem;
    }

    .ei-contact-body-card {
        height: 30rem;
        max-height: 30rem;
    }

    .ei-card-logo-1 {
        height: 8rem;
        min-height: 8rem;
        max-height: 8rem;
        max-width: 8rem;
        min-width: 8rem;
        width: 8rem;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url(../images/ei_contact/chai-white.png);
        margin-bottom: 2rem;
        transition: background-image 0.3s ease-in-out;
    }

    .ei-card-logo-2 {
        height: 8rem;
        min-height: 8rem;
        max-height: 8rem;
        max-width: 6rem;
        min-width: 6rem;
        width: 6rem;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url(../images/ei_contact/heart-white.png);
        margin-bottom: 2rem;
        transition: background-image 0.3s ease-in-out;
    }

    .ei-card-logo-3 {
        height: 8rem;
        min-height: 8rem;
        max-height: 8rem;
        max-width: 6rem;
        min-width: 6rem;
        width: 6rem;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url(../images/ei_contact/phone-white.png);
        margin-bottom: 2rem;
        transition: background-image 0.3s ease-in-out;
    }

    .card-data-2 p {
        font-family: 'PPTelegraf-UltraLight';
        font-size: 1rem;
    }

    .ei-talkto-us {
        width: 70% !important;
    }

    .foot-logo img {
        height: 1.8rem;
    }

    .foot-divs {
       padding: 0;
    }

    .foot-logo {
        width: 18%;
    }

    .foot-body {
        width: 78%;
    }

    .foot-data {
        width: 20%;
    }

    .foot-contact {
        width: 35%;
    }

    .foot-address {
        gap: 0.5rem;
    }
}
@media only screen and (max-width: 1199px) and (min-width: 992px){
    #mobile-talk-to-us {
        display: none;
    }

    .ei-nav-container {
        width: 90%;
    }

    .ei-navbrand img {
        height: 2.5rem;
    }

    .ei-nav-options {
        gap: 2rem;
    }

    #myVideo {
        height: 120vh;
        position: fixed;
        width: 75rem;
        top: -28%;
        left: 0;
        object-fit: fill;
    }

    .ei-section-1 {
        height: 100vh;
        overflow: hidden;
    }

    .ei-section-1-div-1 {
        width: 80%;
        position: fixed;
        left: 50%;
        transform: translate(-50%, 0);
        top: 35%; 
    }

    .ei-illustration-1 img {
        height: 30rem;
    }

    .ei-illustration-2 img {
        height: 23rem;
    }

    .ei-illustration-3 img {
        height: 45rem;
    }

    .ei-illustration-3 {
        top: 27%;
        left: 5%;
    }

    .ei-illustration-4 img {
        height: 36rem;
    }

    .ei-illustration-4 {
        top: 26%;
        left: 15%;
    }

    .video-container video {
        width: 40rem;
    }

    .ei-why-us-body-info {
        color: #FFF;
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem 1.5rem;
        height: 20rem;
    }

    .ei-our-work-head img {
        width: 15rem;
    }    

    .ei-why-us-body-img img {
        height: 15rem;
    }

    .card-data-2 p {
        font-family: 'PPTelegraf-UltraLight';
        font-size: 1rem;
    }

    .ei-contact-body-card {
        padding: 1rem 0.8rem;
    }

    .ei-our-work-body-img {
        height: 90%;
        overflow: hidden;
    }

    .ei-our-work-body-img img {
        height: 100%;
    }

    .ei-talkto-us {
        width: 60% !important;
    }

    .foot-logo img {
        height: 3rem;
    }

    .ei-section-2-div-1 {
        margin: 2rem auto;
    }

    .ei-section-2-div-2 img {
        height: 2rem;
    }

    .ei-video-row {
        margin-bottom: 4rem;
    }
    
    .ei-illustration-2 {
        top: 75%;
    }

    .ei-process-body-bar-data {
        width: 75%;
    }

    .ei-process-body-bar-img {
        width: 20%;
    }
}
@media only screen and (max-width: 1450px) and (min-width: 1200px){
    #mobile-talk-to-us {
        display: none;
    }
    
    #myVideo {
        height: 120vh;
        position: fixed;
        width: 100%;
        top: -28%;
        left: 0;
        object-fit: fill;
    }
    
    .ei-section-1 {
        height: 100vh;
        overflow: hidden;
    }

    .video-container video {
        width: 50rem;
    }

    .ei-illustration-3 {
        top: 37%;
        left: 5%;
    }

    .ei-illustration-4 {
        top: 28%;
        left: 20%;
    }

    .ei-illustration-4 img {
        height: 40rem;
    }

    .ei-why-us-wrappar {
        width: 32%;
    }

    .ei-our-work-body-img {
        height: 90%;
        overflow: hidden;
    }

    .ei-our-work-body-img img {
        height: 100%;
    }

    .card-data-2 p {
        font-size: 1.2rem;
    }

    .ei-contact-body-card {
        padding: 1rem 0.8rem;
    }
}